<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="primera-vista">
        <p>Elija su rol</p>
        <button class="btn_cliente">Cliente</button>
        <button class="btn_agencia">Agencia</button>
    </div>

    <div class="form invisible">
        <p>Ingresa la siguiente información</p>
        <form id="form-login" action="" method="post" data-form-login>
            <input type="text" placeholder="Nombre..." required data-form-nombre>
            <input type="email" placeholder="Correo..." required data-form-correo>
            <input type="password" placeholder="Passwort..." required data-form-passwort>
            <input type="text" placeholder="Alias..." required data-form-alias>
            <input type="text" placeholder="Dirección" required data-form-direccion>
            <input type="text" placeholder="Teléfono celular" required data-form-telefono1>
            <input type="text" placeholder="Teléfono secundario" required data-form-telefono2>
            <!--Content inject by js-->
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="./dist/js/login.js"></script>
</body>
</html>