<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla habitaciones</title>
    <link rel="stylesheet" href="dist/boostrap/css/bootstrap.min.css">
</head>
<body>
  <style>
    /* Estilos CSS */
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    h1 {
        color: #333;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
    
</style>
</head>
<body>
  <h1>Seleccionar Habitación</h1>
  <table id="habitaciones-table">
    <caption>habitaciones</caption>
    <thead>
      <tr>
        <th>numero de habitación</th>
        <th>Tipo de Habitación</th>
        <th>Precio</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody id="habitaciones-body"></tbody>
  </table>

  <script src = "/src/main/resources/static/dist/js/TablaHabitaciones.js"> </script>

  <script src="/src/main/resources/static/dist/css/bootstrap.min.css"></script> 
</body>
</html>

